.footer {
    padding: 60px 0px; 
    background-color: var(--dark-bg-color);
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-contact-container {
    margin-right: 70px;
}
.logo-link {
    display: block;
    margin-bottom: 20px;
}
.footer-logo {
    color: #FFFFFF;
}

address {
    font-style: normal;
}
.footer-list .footer-item:not(:last-child) {
    margin-bottom: 9px;
}
.footer-item {
    height: 21px;
}
.footer-link {
    font-size: 14px;
    line-height: 1.71px;
    color: var(--light-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}
.footer-contact {
    font-size: 14px;
    line-height: 1.71px;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color)
}
.footer-title {
    font-size: 14px;
    height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--light-text-color);
}
.footer-soc-container {
    display: block;
    margin-right: 93px;
}
.footer-soc-list {
    display: flex;
}
.footer-soc-item {
    display: flex;
}
.footer-soc-item + .footer-soc-item {
    margin-left: 10px;
}
.footer-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--accent-color);
}
.icon-soc-footer {
    fill: #FFFFFF;
}
.footer-form-container {
    display: block;
}
.footer-form-title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-text-color);
}
.footer-label {
    position: absolute;
    margin-left: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-object-container {
    display: flex;
}
.footer-input-container {
    position: relative;
}
.footer-input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 79px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
}
.footer-input-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--light-text-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.icon-input-btn {
    margin-left: 10px;
}