.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.portfolio-item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.portfolio-link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.portfolio-cards {
    padding: 20px 24px 20px;
    border: 1px solid #eeeeee;
    border-top: none; 
}
.portfolio-img-container {
    position: relative;
    overflow: hidden;
}
.portfolio-link-text {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--light-text-color);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms;
    transition-timing-function: var(--timing-function);
    overflow: auto;
}
.portfolio-link:hover .portfolio-link-text,
.portfolio-link:focus .portfolio-link-text{
    transform: translateY(0%);
}

.portfolio-title {
    height: 36px;
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.portfolio-text {
    height: 30px;
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}